{% extends 'base.html.twig' %}

{% block title %}Bushi.DO | Checkout Confirm
{% endblock %}

{% block body %}
	{{ include("partials/title_section.html.twig", {'name':'Checkout'}) }}

	<div class="section checkout">
		<div class="container">
			<div class="row row-eq-height">
				<div class="col-md-6">
					<div class="heading_s1">
						<h4>Please verify your delivery Address</h4>
						<div class="content" id="address">
							{{ address | replace({'[spr]' : '<br>'}) | raw }}
						</div>
						<a href="{{ path('app_address_edit', {'id': address.id}) }}" class="btn btn-fill-out mt-1">Edit address</a>
						<a href="{{ path('app_checkout_edit') }}" class="btn btn-fill-out mt-1">Change address</a>
					</div>
					<div class="heading_s1">
						<h4>Please verify your carrier</h4>
						<div class="content" id="carrier">
							{{ carrier | replace({ '[spr]' : '<br>' }) | raw }}
						</div>
						<a href="{{ path('app_checkout_edit') }}" class="btn btn-fill-out mt-1">Change carrier</a>
					</div>
					{% if informations %}
						<div class="heading_s1">
							<h4>Please verify additional Information(s)</h4>
							<div class="content" id="informations">
								{{ informations }}
							</div>
							<a href="{{ path('app_checkout_edit') }}" class="btn btn-fill-out mt-1">change/add informations</a>
						</div>
					{% endif %}
				</div>
				<div class="col-md-6">
					<div class="order_review">
						<div class="heading_s1">
							<h4>Your Order</h4>
						</div>
						<div class="table-responsive order_table">
							<table class="table">
								<thead>
									<tr>
										<th>Product</th>
										<th>Total</th>
									</tr>
								</thead>
								<tbody>
									{% for element in cart.products %}
										<tr>
											<td>{{ element.product.name }}<span class="product-qty">
													x
													{{ element.quantity }}</span>
											</td>
											<td>${{ (element.product.price / 100) | round(2, 'floor') }}</td>
										</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th>SubTotal HT</th>
										<td class="product-subtotal">${{ cart.data.subTotalHT | round(2, 'floor') }}</td>
									</tr>
									<tr>
										<th>Tax</th>
										<td class="product-subtotal">${{ cart.data.tax }}</td>
									</tr>
									<tr>
										<th>Shipping (
											{{carrier.name}})</th>
										<td class="product-subtotal">${{ (carrier.price / 100) | round(2, 'floor') }}</td>
									</tr>
									<tr>
										<th>Total</th>
										<td class="product-subtotal">${{ cart.data.subTotalTTC + (carrier.price / 100) }}</td>
									</tr>
								</tfoot>
							</table>
						</div>
						<div class="payment_method">
							<div class="heading_s1">
								<h4>Payment</h4>
							</div>
							<button type="submit" id="checkout" class="btn btn-fill-out btn-block">Paid ${{ cart.data.subTotalTTC + (carrier.price / 100) }}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}
